
<div class="modal-body ">
  <div class="row">
    <div class="col-12 mb-2">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>


  <div class="row mx-md-2">

    <div class="col-5" alt="card-image">
      <svg class="bd-placeholder-img " width="100%" height="150" role="img" ><rect width="100%" height="100%" fill="#55595c"></rect><text x="35%" y="50%" fill="#eceeef" dy=".3em">Image</text></svg>
    </div>

    <div class="col-7" alt="card-body" [formGroup]="form">
      <input class="form-control  titleInput mt-3" type="text" placeholder="Title" title="Title" formControlName="title"
             [class.is-invalid]="this.form.controls.title?.invalid">
      <input class="form-control form-control-sm mt-1" type="text" placeholder="Author" title="Author" formControlName="author"
             [class.is-invalid]="this.form.controls.author?.invalid">
      <input class="form-control form-control-sm mt-4" type="text" placeholder="ISBN" title="ISBN" formControlName="isbn"
             [class.is-invalid]="this.form.controls.isbn?.invalid">


    </div>
  </div>

  <div class="row mx-md-2 detailPlot overflow-auto">
    <div class="col-12 mt-2" [formGroup]="form">
      <label for="PlotTextArea"><h4>Viac o knihe:</h4></label>
      <textarea class="form-control" id="PlotTextArea" rows="9" placeholder="Plot" title="Plot" formControlName="plot"></textarea>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button [disabled]="form.invalid" class="btn btn-sm btn-outline-primary" (click)="submit()">Uložiť</button>
  <button class="btn btn-sm btn-outline-primary" (click)="activeModal.close('Close click')">Zahodiť</button>
</div>

