
.addBook {
  color: #007bff;
}

.addBook:hover {
  color: white;
}

.body {
  min-height: 8vh;
}

.nav-link {
  font-size: 18px;
}

.navbar-brand {
  font-size: 23px;
}

.btn {
  font-size: 13px;
}

.userName {
  color: white;
  font-size: 18px;
}
