
.registrationView {
  background-color: #f5f5f5;
}

.registrationForm, .loginSuggestion {
  background-color: white;
}

.font-weight-lighter {
  font-size: 12px;
}

.loginSuggestion {
  font-size: 15px;
}
