<div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-center registrationView">

  <div class="row col-sm-4 col-xl-2 col-sm-offset-4 col-lg-offset-5 mb-4 mx-3 px-md-1">

    <div class="shadow registrationForm">

      <form class="my-3 mx-3" (ngSubmit)="submit()" [formGroup]="form">
        <img class="mb-2" src="assets/logo.png" alt="" width="72" height="72" [routerLink]="'/'">
        <p class="text-muted font-weight-normal">Zaregistrujte sa, aby ste využii všetky funkcie naplno aj vy!</p>
        <hr class="mx-3">
        <div class="form-group mb-2">
          <input type="text" class="form-control" placeholder="Používateľské meno" formControlName="username"
                 [class.is-invalid]="isUserNameTaken">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Heslo" formControlName="password"
                 [class.is-invalid]="this.form.controls.password?.invalid && this.form.controls.password?.dirty"
                 [class.is-valid]="this.form.controls.password?.valid">
        </div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-lg btn-block mb-2">Registrovať</button>

        <div *ngIf="isUserNameTaken"><p class="text-danger mt-3">Toto používateľské meno nie je k dispozícii. Skúste použiť iné.</p></div>
        <p class="text-muted font-weight-lighter">Registráciou akceptujte naše Podmienky používania.</p>
        <p class="mt-3 text-muted">© 2020 Lany</p>
      </form>
    </div>

    <div class="container mt-5 shadow loginSuggestion">
      <p class="my-4">Už máte účet? <a [routerLink]="'/signin'" >Prihláste sa</a></p>
    </div>

  </div>

</div>
